@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
	--primary: #fcd9b7;
	--radius: 0.625rem;
	--background: #000;
	--foreground: oklch(0.985 0 0);
	--border: oklch(1 0 0 / 10%);
	--ring: oklch(0.556 0 0);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-primary: var(--primary);
	--color-border: var(--border);
	--color-ring: var(--ring);
	--font-primary: var(--font-comfortaa);
	--font-secondary: var(--font-lato);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	body {
		@apply bg-background text-foreground;
		font-family: var(--font-comfortaa);
		scroll-behavior: smooth;
	}
}
